.main {
  display: flex;
  justify-content: center;
  align-items: center;

  &.fade-in {
    animation: fade-in 3s;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    @include viewport--md {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & h1 {
      font-weight: normal;
      font-size: 96px;
      line-height: 96px;
      color: $color-neon-blue;

      @include viewport--md {
        z-index: -10000;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
