.main {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    @include viewport--md {
      display: block;
      height: 100vh;
    }

    & h1 {
      font-weight: normal;
      font-size: 96px;
      line-height: 96px;
      color: $color-neon-blue;

      @include viewport--md {
        position: absolute;
        z-index: -10000;
      }
    }
  }
}
